@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&family=Sarala:wght@400;700&display=swap');

:root {
    --color-principal:#FFF5E1;
    --color-secundaria: #FF6969;
    --color-terciaria: #0C1844;
    --color-destaque: #C80036; 
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}


body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--color-principal);
    color: var(--color-secundaria);
}
.cabecalho{
    padding: 2% 0% 0% 20%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-secundaria);
    text-decoration: none;
}
.titulo-destaque{
    color: var(--color-terciaria);
}
strong{
    color: var(--color-destaque);
}
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10% 15%;
    gap: 84px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
   
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
}
.apresentacao__conteudo__texto{
font-size: 2.25rem;
font-family: var(--fonte-secundaria);
width: 120%;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
   
}
.apresentacao__links__subtitulo{
    font-family:  var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.25rem;
}
.apresentacao__links__link:hover{
    color: var(--color-secundaria);
    background-color: var(--color-terciaria);
}
.apresentacao__links__link{
    background-color: var(--color-principal);
    width: 70%;
    text-align: center;
    border: 3px solid var(--color-secundaria);
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21px 0px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    color: var(--color-terciaria);
    display: flex;
    justify-content: center;
    gap: 1%;

}
.logo{
    width: 9%;
    border: 2px solid var(--color-terciaria);
}
.apresentacao__imagem{
    width: 400px;
    border-radius: 50%;
    border: 3px dotted var(--color-destaque);

    
}
.rodape{
    color: var(--color-principal);
    background-color: var(--color-destaque);
    padding: 20px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 0.875rem;
    font-weight: 400;
}

@media (max-width: 1200px ){
    .cabecalho{
        padding: 10%;

    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: 100%;
    }
    
}
